.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

form{
  border: 1px solid #dadada;
  border-radius: 10px;
  margin:0px;

}
html{
  background-color: white;
}
.App{
  background-color: white;
  margin-top: 3.5rem;
  padding: 0px;
  width: 100%;
}
input{
  width: 100%;
  height: 2rem;
  margin-bottom: 1rem;
  margin-top: 0px;
  border-radius: 5px;;
}
img{
  margin-bottom: 0px;
}
.ip-url{
  width: 50%;
}