.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

form{
  margin-bottom: 1rem;
}
html{
  background-color: white;
}
.App{
  background-color: white;
  margin-top: 4rem;
}
input{
  width:50%;
  height: 2rem;
  margin-bottom: 1rem;
  margin-top: 0px;
  border-radius: 5px;;
}
button{
  width: 20%;

}
img{
  margin-bottom: 0px;
}
.ip-url{
  width: 50%;
}